@import 
  "reset",
  "variables",
  "header";

html, body {
  width: 100%;
}

#main {

  @media screen and (max-width: 1199px) {
    padding-top: 200px;
  }

  @media screen and (min-width: 1200px) {
    position: absolute;
    left: 400px;
  }

  padding: 3em;
}












